header .toping {
    padding-top: 35px;
    margin-bottom: -20px;
  }

header .borderHeader {
    border: 0;
    height: 5px;
    background:linear-gradient(358.5deg,#00aeef .09%,#134a86) ;
}

header .gov-logo-seperator {
  border-right: 1px solid #10619f;
}
header .organization-logo img {
  background: transparent;
  height: 50px;

}

header .service-name {
  font-size: 25px;
  line-height: 50px;
}

nav .dropdown-toggle::after {
  display: none !important;
}

nav .dropdown-toggle {
  display: flex;
  color: white;
  align-items: center;
}

nav a:hover {
  text-decoration: none;
}

nav .dropdown-menu {
  left: unset;
  right: 0;
}

@media screen and (max-width: 576px) {
  .logo_govgr.logo_small {
    width: 130px;
    height: 42px;
  }
  h3.nav_title {
    font-size: 1rem;
  }
  div.navbar-content-outer {
    padding-left: 12px;
    padding-right: 0px;
  }
}
