.selectOneMenu {
  /*width:300px;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border:2px solid #000;*/
	padding-top: 30px;
	padding-bottom: 12px;
	border-color: #dae0e5;
	background-color: #dae0e5;
	border-bottom: 2px solid black;
}

.custom-icon-position {
  position: relative;
}

.select-one__hint {
  position: relative;
  bottom: 60px;
  padding-left: .75rem;
  font-size: 14px;
  color: #495057;
}

.form-control {
  color: black;
}

.selectOneCustomClass .form-control:focus {
  background-color: #dae0e5;
  color: black;
}

select {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background-image: url('../images/arrow_drop_down-24px.svg');
	background-repeat: no-repeat;
	background-position: right 0px bottom 0px;
  background-size: 40px;
}

select::-ms-expand {
  display: none;
}