html, body {
    height:auto;
    min-height: 100vh;
}
section.mpcontent {
  background-image: url("../images/icon_camera.png");
  background-position: 98% 102%;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  min-height: calc(100vh - 360px);
}

@media screen and (max-width: 576px) {
  section.mpcontent {
    background-image: none;
  }
  
  .icon-camera {
      display: none;
  }
}

@media screen and (max-height: 400px) {
  section.mpcontent {
    background-image: none;
  }
}

.btn-custom {
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 8px 25px;
}

.btn-custom--md {
  min-width: 250px;
}

.btn-custom--lg {
  min-width: 300px;
}

.btn-custom--xl {
  min-width: 350px;
}

@media screen and (max-width: 576px) {
.btn-custom {
  font-size: 1.1rem;
}

  .btn-custom--md {
  min-width: 180px;
}

.btn-custom--lg {
  min-width: 230px;
}

.btn-custom--xl {
  min-width: 280px;
}
}

.form-control {
  font-family: inherit;
  box-shadow: none;
}

.input-group-text {
  background-color: inherit;
  border: none;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.ui-inputfield {
  padding: .375rem .75rem !important;
}

.uploadFileCustomClass .ui-fileupload-buttonbar {
    padding: 0px;
}

.uploadFileCustomClass .ui-button-icon-left.ui-icon.ui-c.ui-icon-plusthick {
    display: none;
}

.uploadFileCustomClass .ui-widget {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: inherit;
}

.uploadFileCustomClass .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose {
    background-color: inherit;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
}

.uploadFileCustomClass .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose:hover,focus {
    outline: none;
}

.uploadFileCustomClass .ui-widget-header {
    border: none; 
    background: inherit; 
    color: inherit; 
    font-weight: inherit;
    position: relative;
    top: 8px;
}

.uploadFileCustomClass .ui-button-text.ui-c {
    padding: 0px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #003476;
    text-shadow: none;
    display: inline-block!important;
}

.uploadFileCustomClass .ui-button-text.ui-c:hover,focus{
    outline: none;
}

.uploadFileCustomClass .ui-fileupload-content.ui-widget-content.ui-corner-bottom {
    border: none;
    padding: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-light-custom {
    background-color: inherit;
    border-color: #FFFFFF;
}

a.link.btn {
    cursor:not-allowed;
}

/*.icon-camera {
    background-image: url("../images/icon_camera.png");
    height: 300px;
    width: 300px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 80px;
    right: 20px;
}*/

.user-info-confirmation-text-align {
    text-align: justify;
}

@media screen and (max-width: 576px) {
  .user-info-confirmation-text-align {
    text-align: left;
  }
}

.ui-fileupload-row {
    display: none !important;
}

.ui-fileupload-filename {
        display: none !important;
    }
    .ui-fileupload .cancel {
        display: none !important;
    }
    .ui-fileupload-progress {
        display: none !important;
    }
    .ui-progressbar {
        display: none !important;
    }
    
    .ui-fileupload-cancel {
        display: none !important;
    }
